<table id="daysTable">
  <thead>
      <tr class="daysOfTheWeek">
        <th class="{{Monday.status}}">Monday</th>
        <th class="{{Tuesday.status}}">Tuesday</th>
        <th class="{{Wednesday.status}}">Wednesday</th>
        <th class="{{Thursday.status}}">Thursday</th>
        <th class="{{Friday.status}}">Friday</th>
        <th class="{{Saturday.status}}">Saturday</th>
        <th class="{{Sunday.status}}">Sunday</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td>
        {{#each Monday.waiters}}
        <li>{{this}}</li>
        {{/each}}
        </td>
        <td>
        {{#each Tuesday.waiters}}
        <li>{{this}}</li>
        {{/each}}
        </td>
        <td>
        {{#each Wednesday.waiters}}
        <li>{{this}}</li>
        {{/each}}
        </td>
        <td>
        {{#each Thursday.waiters}}
        <li>{{this}}</li>
        {{/each}}
        </td>
        <td>
        {{#each Friday.waiters}}
        <li>{{this}}</li>
        {{/each}}
        </td>
        <td>
        {{#each Saturday.waiters}}
        <li>{{this}}</li>
        {{/each}}
        </td>
        <td>
        {{#each Sunday.waiters}}
        <li>{{this}}</li>
        {{/each}}
        </td>
      </tr>
  </tbody>
</table>

<table id="legendTable">
  <tr>
    <td id="orangeLegend"></td>
    <td>Not enough waiters</td>
  </tr>
  <tr>
    <td id="greenLegend"></td>
    <td>Enough waiters</td>
  </tr>
  <tr>
    <td id="redLegend"></td>
    <td>Too many waiters</td>
  </tr>
</table>

<a href="/">Back to Log In Page</a>
