<table>
  <thead>
      <tr>
        <th class="under">Monday</th>
        <th class="under">Tuesday</th>
        <th class="under">Wednesday</th>
        <th class="under">Thursday</th>
        <th class="under">Friday</th>
        <th class="under">Saturday</th>
        <th class="under">Sunday</th>
      </tr>
  </thead>
  <tbody>
      <tr>
        <td>
        {{#each Monday}}
        <li>{{this}}</li>
        {{/each}}
        </td>
        <td>
        {{#each Tuesday}}
        <li>{{this}}</li>
        {{/each}}
        </td>
        <td>
        {{#each Wednesday}}
        <li>{{this}}</li>
        {{/each}}
        </td>
        <td>
        {{#each Thursday}}
        <li>{{this}}</li>
        {{/each}}
        </td>
        <td>
        {{#each Friday}}
        <li>{{this}}</li>
        {{/each}}
        </td>
        <td>
        {{#each Saturday}}
        <li>{{this}}</li>
        {{/each}}
        </td>
        <td>
        {{#each Sunday}}
        <li>{{this}}</li>
        {{/each}}
        </td>
      </tr>
  </tbody>
</table>
